<div class="contact-container">
	<div class="mark-img-container">
		<div class="status-mark" [style.backgroundColor]="context.statusColor"></div>
		<img class="img-contact" [style.backgroundColor]="context.imgColor" [src]="context.photoURL">
	</div>
	<div class="name-contact">{{context.name || context.displayName || context.email || context.phoneNumber}}</div>
	<span class="example-spacer"></span>
	<ng-container *ngIf="menuType" >
		<button mat-icon-button [matMenuTriggerFor]="appMenu">
			<mat-icon>more_vert</mat-icon>
		</button>
		<mat-menu #appMenu="matMenu" [ngSwitch]="menuType">
			<ng-container *ngSwitchCase="1">
				<button mat-menu-item (click)="onDelete()">Удалить</button>
				<button mat-menu-item (click)="onNewMessage()">Сообщение</button>
			</ng-container>
			<ng-container *ngSwitchCase="2">
				<button mat-menu-item (click)="onDelete()">Удалить</button>
			</ng-container>
			<ng-container *ngSwitchCase="3">
				<button mat-menu-item (click)="onDelete()">Удалить</button>
				<button mat-menu-item (click)="onChange()">Изменить</button>
				<button mat-menu-item (click)="onNewMessage()">Сообщение</button>
			</ng-container>
		</mat-menu>
	</ng-container>
</div>
