.settings-container{
    padding: 12px;
    height: calc(100%);
    overflow: auto;
}
.settings-entry{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    height: 40px;
    cursor: pointer;
}
.entry-header{
    white-space: nowrap;
}
.settings-entry:hover{
    background-color: #e3e3e3;
}
/*-------------------------max-width 400px------------------------------*/
@media all and (max-width: 400px) {
    mat-form-field.timeout-field, mat-form-field.contact-sign-field{
        width: 100px;
    }
}
