.web-rtc-container{
    height: 100%;
    position: relative;
}
.contacts{
    margin: 12px;
}
.contacts-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.web-rtc-message-form{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    height: 100%;
}
.img-container{
    display: flex;
}

a.active{
    color: #0022cb;
}

.message-card{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.hasContacts{
    color: #bbbbbb;
    cursor: pointer;
    line-height: 36px;
}
.close-button{
    margin-left: 8px;
}
.submit-text-button mat-icon{
    position: relative;
    left: 3px;
    top: -2px;
}


