.web-rtc-container{
    height: 100%;
    position: relative;
}
.contacts{
    margin: 12px;
}
.contacts-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.web-rtc-message-form{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    height: 100%;
}
.img-container{
    display: flex;
}

a.active{
    color: #0022cb;
}

.message-card{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
.message-card.absolute{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    color: white;
    width: 100%;
    background: #00000040;
}
:host /deep/ .message-card.absolute .contact-container:hover{
    background: rgba(255, 255, 255, 0.18);
}

.hasContacts{
    color: #bbbbbb;
    cursor: pointer;
    line-height: 36px;
}
.close-button{
    margin-left: 8px;
}
.submit-text-button mat-icon{
    position: relative;
    left: 3px;
    top: -2px;
}


