<div class="web-rtc-container">
	<form class="web-rtc-message-form" novalidate (keydown.enter)="onSubmit($event)" >
		<div class="toolbar-progress-contacts-block" *ngIf="appContext.contentComp.toolbarProgressVisible">
			<mat-toolbar >
				<div class="img-container">
					<a mat-icon-button  *ngFor="let icon of typeIcons; index as inx" [matTooltip]="icon.tip"  [ngClass]="{active : icon.active}" [disabled]="(!icon.active && appContext.contentComp.disableButton)" (click)="onClickIcon(inx)">
						<mat-icon class="typeIcon"  >{{icon.text}}</mat-icon>
					</a>
				</div>
				<span class="example-spacer"> </span>
				<button class="submit-text-button" mat-mini-fab type="submit" [matTooltip]="'Отправить'"  (click)="onSubmit($event)" [disabled]="isDisabled() || messageContacts.value.length === 0 || !noPeers" >
					<mat-icon>send</mat-icon>
				</button>
				<button mat-icon-button class="close-button"  [matTooltip]="'Завершить'" (click)="onCloseConnection()">
					<mat-icon>clear</mat-icon>
				</button>
			</mat-toolbar>
			<mat-progress-bar mode="indeterminate" *ngIf="connecting"></mat-progress-bar>
			<div class="message-card">
				<div class="contacts" >
					<div class="hasContacts" (click)="onClickContacts()" *ngIf="!messageContacts.value.length">Контакты пока не выбраны....</div>
					<div class="contacts-container">
						<app-contact [menuType]="1" *ngFor="let contact of messageContacts | async" [context]="contact" (deletedFromMessage)="deleteContact($event)"></app-contact>
					</div>
				</div>
			</div>
		</div>
		<router-outlet></router-outlet>
	</form>
</div>

